* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.background {
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
}

.bird {
    height: 8vh;
    width: 8vh;
    position: fixed;
    top: 40vh;
    left: 45vh;
    z-index: 100;
}

.bird img {
    width: 100%;
    height: 100%;
}

.username {
    position: absolute;
    top: -4vh;
    color: red;
    font-size: 20px;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
}

.pipe {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 9vh;
    background-color: green;
}

.orb {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 8vh;
    width: 8vh;
    border-radius: 4vh;
    background-color: yellow;
}

.title {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    font-family: "Lucida Console", sans-serif;
    color: black;
    top: 12vh;
    left: 20vw;
    text-align: center;
}

.score {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    font-family: "Lucida Console", sans-serif;
    color: gold;
    top: 0;
    left: 0;
}

.mainMenu {
    position: fixed;
    left: 25vw;
    top: 25vh;
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 10px;
}

.mainMenu button {
    float: left;
    width: 100%;
    height: 10vh;
    margin-top: 10%;
    background-color: forestgreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 15px;
}

.multiplayerMenu {
    position: fixed;
    left: 25vw;
    top: 5vh;
    margin: auto;
    width: 50%;
    height: 90%;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.multiplayerMenu button {
    float: left;
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 15px;
}

.currentGames div {
    float: left;
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
    background-color: orangered;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 15px;
}
