
.communiquesContainer {
    display: flex;
    justify-content: center;
}

.communiquesContainer > div {
    display: flex;
    flex-direction: column;
}

#logo1, #logo2 {
    display: none;
}

.headerLogo {
    height: 43px;
}

.rangee > .bouton-plat {
    margin-top: 10px !important;
}

.carte-menu {
    min-height: auto !important;
}
